*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    
}
.full{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.weather{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    width: 70vw;
    height: 80vh;
    padding: 20px;
    border-radius: 20px;
    overflow-y: visible;
    overflow-x: hidden;
}
.searchcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    position: relative;
    width: 40vw;
}
.search input{
    width: 100%;
    background-color: #f5f3f3b3;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    font-size: 17px;
}
.search i{
    font-size: 20px;
    position: absolute;
    right: 1px;
    top: 12px;
    color: #0a2a59;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .weather{
        width: 90vw;
        height:90vh;
    }
    .search{
        width: 80vw;
    }
}
.body{
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btns{
    display: flex;
    justify-content: space-around;
}
.btns button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 0 20px;
}
.active{
    border-bottom: black 2px solid !important;
}
.left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.left .location p{
    color: #929191;
}
.left .location h3{
    font-size: 26px;
}
.locationCards{
    height: 400px;
    /* background: red; */
    /* margin-top: 10px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* gap: 30px; */
    justify-content: space-around;
}
.card{
    padding: 30px;
    border-radius: 20px;
    color: black;
}
.card.active{
    width:300px;
    height: 300px;
}
.leftcard{
    font-size: 24px;
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
}
.leftcardinner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
}
.leftcard .img{
    /* margin-top: -20px; */
}
.condition{
    color: #3c3939;
}
.card.new{
    width: 30%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: start;
}
.highlights{
    /* margin-top: 16px; */
    /* display: flex;
    flex-direction: column; */
}
.highlights h3{
    font-size: 24px;
    margin-bottom: 13px;
}
.highlights .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.cards .child{
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.cards .child.suntimings{
    width: 17vw;
}
.cards .child.suntimings .arrow{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #8f1de1d7;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    /* margin: 0 0 0 12px; */
}
.cards .child .content{
    font-size: 16px;
    color: #929191;
}
.cards .child .value{
    font-size: 20px;
    font-weight: 700;
}
.highlights .graph{
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    padding: 12px;
    margin-top: 9px;
}
.right{
    background-color: #ecf4ff;
}
.rain{
    border-bottom: 5px solid #cdcdcd;
    padding:30px;
    height: 600px;
}
.days{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}
.forecast .days .day{
    display:flex ;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 16px;
}
.forecast .days .day .weatherimg{
    display: flex;
    align-items: center;
}
.forecast .days .day .weatherimg img{
    height: 65px;
}
.forecast .days .day .date{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 0 10px 0 0;
    font-weight: normal;
}
.forecast .days .day .date .inner{
    font-size: 20px;
    font-weight: 600;
}
.forecast .days .day .temp{
    display: flex;
    align-items: center;
    justify-items: space-between;
    background-color: #8f1de1d7;
    border-radius: 16px;
    padding: 0 4px;
}
.forecast .days .day .temp .arrw{
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
}
